


/*content styling*/
#subscriber-survey{
	text-transform: none;
	padding: ;
	font-weight: lighter;
	background: ;
}





/*begin label stylng under sub questionnare*/

#label-cont{
	margin-left: 20px;
}

#merchant-btn{
	width: 100%;
}


/*end label stylng under sub questionnare*/